<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Edit Sales Representative</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Users</a>
        </li>
        <li class="breadcrumb-item active"><a href="#">Edit Sales Rep.</a>
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="content-body">
  <!-- Basic form layout section start -->
  <section id="horizontal-form-layouts">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-content collpase show">
            <div class="card-body">
              <form class="form form-horizontal" #salesrepupdateForm="ngForm" (ngSubmit)="updateSalesRep(salesrepupdateForm)">
                <div class="form-body">
                  <h4 class="form-section"><i class="ft-user"></i> Personal Info</h4>
                  <div class="form-group row">
                    <label class="col-md-3 label-control">Name *</label>
                    <div class="col-md-9">
                      <input type="text"class="form-control" #nameErr="ngModel" 
                      [(ngModel)]="salesrep.name" disabled placeholder="Name" name="name" pattern="[a-zA-Z ]*" required>
                      <div *ngIf="nameErr.errors && (nameErr.dirty || nameErr.touched)">
                        <span class="help-block error" [hidden]="!nameErr.errors.required"> * Name is Required </span>
                        <span class="help-block error" [hidden]="!nameErr.errors.pattern"> Name should contain letters and whitespace </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control">E-mail *</label>
                    <div class="col-md-9">
                      <input type="email" class="form-control" #emailErr="ngModel" 
                      [(ngModel)]="salesrep.email" disabled pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="E-mail" name="email" required>
                      <div *ngIf="emailErr.errors && (emailErr.dirty || emailErr.touched)">
                        <span class="help-block error" [hidden]="!emailErr.errors.required"> * Email is Required </span>
                        <span class="help-block error" [hidden]="!emailErr.errors.pattern"> Email is Invalid </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control">Contact Number *</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" #contactnoErr="ngModel" 
                      [(ngModel)]="salesrep.contactno" placeholder="Contact no" name="contactno" required>
                      <div *ngIf="contactnoErr.errors && (contactnoErr.dirty || contactnoErr.touched)">
                        <span class="help-block error" [hidden]="!contactnoErr.errors.required"> * Contact no is Required </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-actions right">
                  <button type="button" class="btn btn-warning mr-1" (click)="onClickCancel()">
                    <i class="ft-x"></i> Cancel
                  </button>
                  <button type="submit" class="btn btn-primary" [disabled]="!salesrepupdateForm.form.valid">
                    <i class="fa fa-check-square-o"></i> Update
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- // Basic form layout section end -->
</div>

